body {
    font-family: 'Raleway', sans-serif;
    color: rgba(50, 50, 50, 1);
    margin: 0;
    padding: 0;
  }
  
  #app {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(115deg, rgba(240, 240 , 240, 1), rgba(125, 125, 125, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
  }
  
  .container {
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .hero-cat {
    max-width: 100%;
    height: 85%;
    display: block;
    border-radius: 3px;
    object-fit: cover;
  }
  
  .control {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    border: none;
    border-radius: 3px;
    font-size: 1.25em;
    color: rgb(225, 225, 225);
    height: 40px;
  }
  
  .next-cat {
    background-image: linear-gradient(180deg, rgba(66, 103, 178, 1), rgb(66, 103, 178, 0.8));
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    flex-basis: 300px;
  }
  
  .next-cat:hover {
    background-image: linear-gradient(180deg, rgba(66, 103, 178, 1), rgb(66, 103, 178, 0.9));
  }
  
  .next-cat:active {
     background-image: linear-gradient(180deg, rgba(66, 103, 178, 1), rgb(66, 103, 178, 1));
  }
  
  .btn:focus {
    outline: none;
  }
  
  .like,
  .dislike {
    width: 100px;
  }
  
  .like {
    background-color: rgba(24, 199, 24, 0.8);
  }
  
  .like:hover {
    background-color: rgba(24, 199, 24, 0.9);
  }
  
  .like:active {
    background-color: rgba(24, 199, 24, 1);
  }
  
  .dislike {
    background-color: rgba(219, 36, 31, 0.8);
  }
  
  .dislike:hover {
    background-color: rgba(219, 36, 31, 0.9);
  }
  
  .dislike:active {
    background-color: rgba(219, 36, 31, 1);
  }
  
  .cat-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
  
  .reset {
    background-color: rgba(25, 25, 25, 0.8);
    width: 200px;
    margin: 10px;
  }
  
  .reset:hover {
    background-color: rgba(25, 25, 25, 0.9);
  }
  
  .reset:active {
    background-color: rgba(25, 25, 25, 1);
  }
  
  
  h1, h2 {
    text-align: center;
  }
  
  .voted-cats {
    width: 640px;
    height: 480px;
    display: flex;
    justify-content: space-between;
  }
  
  .cat-wrapper {
    padding: 2px 7px;
  }
  
  .cat {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 110px;
    object-fit: cover;
  }
  
  .liked {
    border-right: 1px solid rgba(50, 50, 50, 1);;
  }
  
  .disliked {
    border-left: 1px solid rgba(50, 50, 50, 1);
  }
  
  .liked, 
  .disliked {
    width: 50%;
  }
  
  